In [1]:
# 예제 5-42 라이브러리 임포트
import pandas as pd

In [2]:
# 예제 5-43 시군구 목록 데이터 불러오기
seoul_sgg = pd.read_excel('./files/4_2_seoul_sgg_list.xlsx')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도
0  11320   도봉구  37.665861  127.031767
1  11380   은평구  37.617612  126.922700
2  11230  동대문구  37.583801  127.050700
3  11590   동작구  37.496504  126.944307
4  11545   금천구  37.460097  126.900155

In [3]:
# 예제 5-44 서울시 스타벅스 매장 목록 데이터 불러오기
seoul_starbucks = pd.read_excel('./files/4_4_seoul_starbucks_list.xlsx')
seoul_starbucks.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,역삼아레나빌딩,37.501087,127.043069,general,서울특별시 강남구 언주로 425 (역삼동),1522-3232,강남구
1,논현역사거리,37.510178,127.022223,general,서울특별시 강남구 강남대로 538 (논현동),1522-3232,강남구
2,신사역성일빌딩,37.513931,127.020606,general,서울특별시 강남구 강남대로 584 (논현동),1522-3232,강남구
3,국기원사거리,37.499517,127.031495,general,서울특별시 강남구 테헤란로 125 (역삼동),1522-3232,강남구
4,대치재경빌딩,37.494668,127.062583,general,서울특별시 강남구 남부순환로 2947 (대치동),1522-3232,강남구

In [4]:
# 예제 5-45 시군구별 스타벅스 매장 수 세기
starbucks_sgg_count = seoul_starbucks.pivot_table(
                                                index = '시군구명', 
                                                values='매장명', 
                                                aggfunc='count'
                                                ).rename(columns={'매장명':'스타벅스_매장수'})
starbucks_sgg_count.head()

      스타벅스_매장수
시군구명
강남구         91
강동구         17
강북구          6
강서구         27
관악구         12

In [5]:
# 예제 5-46 서울시 시군구 목록 데이터에 스타벅스 매장 수 데이터를 병합
seoul_sgg = pd.merge(seoul_sgg, starbucks_sgg_count, how='left', on='시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수
0  11320   도봉구  37.665861  127.031767         7
1  11380   은평구  37.617612  126.922700        14
2  11230  동대문구  37.583801  127.050700        13
3  11590   동작구  37.496504  126.944307        11
4  11545   금천구  37.460097  126.900155        13

In [6]:
# 예제 5-47 서울시 시군구별 인구통계 데이터 불러오기
seoul_sgg_pop = pd.read_excel('./files/4_3_sgg_pop.xlsx')
seoul_sgg_pop.head()

  시군구명  주민등록인구
0  종로구  164348
1   중구  135139
2  용산구  245411
3  성동구  314551
4  광진구  371671

In [7]:
# 예제 5-48 서울시 시군구 목록 데이터에 서울시 시군구별 인구통계 데이터를 병합
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_pop, how='left', on='시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수  주민등록인구
0  11320   도봉구  37.665861  127.031767         7  345041
1  11380   은평구  37.617612  126.922700        14  490253
2  11230  동대문구  37.583801  127.050700        13  364962
3  11590   동작구  37.496504  126.944307        11  406715
4  11545   금천구  37.460097  126.900155        13  253344

In [8]:
# 예제 5-49 서울시 시군구 목록 데이터에 서울시 시군구별 사업체 수 통계 데이터를 병합
seoul_sgg_biz = pd.read_excel('./files/4_3_sgg_biz.xlsx')
seoul_sgg = pd.merge(
    seoul_sgg, 
    seoul_sgg_biz,
    how='left',
    on='시군구명'
)
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  스타벅스_매장수  주민등록인구    종사자수   사업체수
0  11320   도봉구  37.665861  127.031767         7  345041   68669  18455
1  11380   은평구  37.617612  126.922700        14  490253   87693  24179
2  11230  동대문구  37.583801  127.050700        13  364962  143858  32994
3  11590   동작구  37.496504  126.944307        11  406715  103915  19609
4  11545   금천구  37.460097  126.900155        13  253344  223058  30080

In [9]:
# 예제 5-50 병합 결과를 엑셀 파일로 저장
seoul_sgg.to_excel('./files/4_5_seoul_sgg_stat.xlsx', index=False)